body {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  position: relative;
  padding-top: 25vh;
}

header h1 {
  color: teal;
  text-transform: uppercase;
  font-size: 10vh;
  line-height: 1vh;
}

.home_clipart {
  width: 10vh;
  height: 10vh;
}

nav ul {
  padding: 0px 3vh; /* Some padding */
  list-style-type: none;
  text-align: center;
}
nav ul li a {
  font-size: 3vh;
  display: block;
  color: mediumvioletred;
  padding: 0 2vh;
  margin-top: 1.5vh;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

nav ul li a:hover {
  color: palevioletred;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
