.body {
  text-align: center;
  display: flex;
  justify-content: center;
}

.number {
  font-size: 10vh;
  text-align: center;
}

#display_all {
  text-align: center;
  font-size: 4vh;
}

button {
  width: 15vh;
  height: 5vh;
  font-size: 3vh;
}
